//@for $i from 13 through 50 {
//  [fz#{$i * 2}] {
//    font-size: #{$i * 2}px;
//  }
//}

//@for $i from 6 through 25 {
//  [fz#{$i * 2}] {
//    font-size: #{$i * 2}px;
//  }
//}

[fz12] {font-size : 12px; }

[fz14] {font-size : 14px; }

[fz16] {font-size : 16px; }

[fz18] {font-size : 18px; }

[fz20] {font-size : 20px; }

[fz22] {font-size : 22px; }

[fz24] {font-size : 24px; }

[fz26] {font-size : 26px; }

[fz28] {font-size : 28px; }

[fz30] {font-size : 30px; }

[fz32] {font-size : 32px; }

[fz34] {font-size : 34px; }

[fz36] {font-size : 36px; }

[fz38] {font-size : 38px; }

[fz40] {font-size : 40px; }

[fz42] {font-size : 42px; }

[fz44] {font-size : 44px; }

[fz46] {font-size : 46px; }

[fz48] {font-size : 48px; }

[fz50] {font-size : 50px; }
