[w88] {
  width : 88px;
}

[w120] {
  width : 120px;
}

[w100] {
  width : 100px;
}

[w10] {
  width : 10px;
}

[w24] {
  width : 24px;
}

[w30] {
  width : 30px;
}

[w1440] {
  width : 1440px;
}

[w1200] {
  width : 1200px;
}

[margin-auto] {
  margin-right : auto;
  margin-left  : auto;
}

.custom-form-item-input .el-input--mini {
  width : 172px;
}

.custom-form-item-date .el-range-editor--mini {
  width : 428px;
}

.custom-form-item-select .el-select--mini {
  width : 172px;
}
